.footer-btn{
 button{
    border: none;
    background: none;
    padding-top: 20px;
}
}
.address{
    p{
        padding-top: 20px;
    }
}
.icons{
    a{
        font-size: 20px;
        padding: 10px 30px;
        color: orange;
        
    }
}

